.list-item{
  display: flex;
  justify-content: center;
}
.ant-tabs-nav-wrap{
  display: flex;
  justify-content: space-evenly;
}
.ant-tabs-tab-btn{
  p{
    margin-bottom: 0;
  }
}
.delete-icon{
  margin-top: 4px;
}
.ant-card-actions{
  li{
    &:first-child{
      width: 35% !important;
    }
    &:last-child{
      width: 15% !important;
    }

    width: 50% !important;
  }
}
.anticon-delete{
  &:hover{
    svg{
      &:hover{
        fill: #ff4d4f !important;
      }
    }
  }
  svg{
    &:hover{
      fill: #ff4d4f !important;
    }
  }
}
.delete-icon{
  &:hover{
    svg{
      &:hover{
        fill: #ff4d4f !important;
      }
    }
  }
}