.flex-container{
  display: flex;
  justify-content: space-evenly;
  .ant-row.ant-form-item{
    margin-bottom: 0;
  }
}
.ant-result {
  &-success {
    padding: 0;
  }
  &-error{
    padding: 0;
  }
}
.ant-result-icon{
  margin-bottom: 8px;
}
.ant-result-title{
  line-height: 1.1;
  font-size: 19px;
}
.result-icon{
  .ant-result-icon{
    span{
      height: 50px!important;
      width: 50px !important;
      svg{
        height: 50px!important;
        width: 50px !important;
      }
    }
  }

}